.homehead {
    width: 100%;
}

.a-logo {
    position: relative;
    display: inline-block;
    margin-left: 5%;
    padding: 1rem;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
}

.ascope-text {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 30rem;
    justify-content: center;
    letter-spacing: .2rem;
    background: black;
    text-align: center;
}

.seat {
    font-size: 2rem;
}

.apera {
    width: 100%;
    font-size: 1rem;
    color: var(--white-color);
    letter-spacing: 0rem;
    font-family: cinzel;

}

.aparat {
    font-family: cinzel;
    text-transform: capitalize;
}

.acourse {
    width: 100%;
}

@media(max-width:600px) {

    .a-logo {
        position: relative;
        display: inline-block;
        margin-left: 5%;
        padding: 1rem;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
    }

    .ascope-text {
        position: relative;
        margin-top: 2%;
        width: 100%;
        height: 68rem;
        justify-content: center;
        letter-spacing: .2rem;
        background: black;
        text-align: center;
    }
}

/* For Mobiles */
@media (min-width: 601px) and (max-width: 768px) {
    .a-logo {
        position: relative;
        display: inline-block;
        margin-left: 5%;
        padding: 1rem;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
    }

    .ascope-text {
        position: relative;
        margin-top: 2%;
        width: 100%;
        height: 48rem;
        justify-content: center;
        letter-spacing: .2rem;
        background: black;
        text-align: center;
    }

}

/* For Laptop */
@media (min-width: 769px) and (max-width: 992px) {
    .a-logo {
        position: relative;
        display: inline-block;
        margin-left: 5%;
        padding: 1rem;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
    }

    .ascope-text {
        position: relative;
        margin-top: 2%;
        width: 100%;
        height: 48rem;
        justify-content: center;
        letter-spacing: .2rem;
        background: black;
        text-align: center;
    }

    .homehead {
        margin-top: 15%;
        width: 100%;
    }
}

/* For Desktop */
@media (min-width: 993px) and (max-width: 1200px) {
    .a-logo {
        position: relative;
        display: inline-block;
        margin-left: 5%;
        padding: 1rem;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
    }

    .ascope-text {
        position: relative;
        margin-top: 2%;
        width: 100%;
        height: 36rem;
        justify-content: center;
        letter-spacing: .2rem;
        background: black;
        text-align: center;
    }
}