.cContact {
    width: 60%;
    margin-top: -650px;
    margin-left: 35%;
    margin-bottom: 50px;
}

.ctext {
    font-family: 'cursive';
    text-decoration: none;
}

.cont {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

.subc {
    font-size: 2rem;
    font-family: choc;
}

.addr {
    font-size: 1.7rem;
    font-family: "cursive";
}

span {
    font-size: 1.5rem;
}

span:hover {
    color: slategray;
    font-style: italic;
}

iframe {
    width: 100%;
    height: 100%;
}

.locat {
    width: 60%;
    height: 500px;
    margin-left: 20%;
}

/* a tag */

.csol a.cphone {
    display: flex;
    background: green;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
    margin-left: 50%;

}

.csol a.cemail {
    display: flex;
    background: wheat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
    margin-left: 50%;

}

.csol .row a.cinsta {
    display: flex;
    background: #C13584;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
    margin-left: 50%;

}

.csol .row a.cface {
    display: flex;
    background: #4267B2;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
    margin-left: 50%;

}

.csol .row a.clinked {
    display: flex;
    background: #0077b5;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
    margin-left: 50%;

}

/* i tag */

.csol a.cphone i {
    font-size: 1.7rem;
    color: white;
    line-height: 3.5rem;
    transition: .5s;
    margin-left: 24%;
}

.csol a.cemail i {
    font-size: 1.7rem;
    color: #0077b5;
    line-height: 3.5rem;
    transition: .5s;
    margin-left: 24%;
}

.csol a.cinsta i {
    font-size: 1.7rem;
    color: white;
    line-height: 3.5rem;
    transition: .5s;
    margin-left: 24%;
}

.csol a.cface i {
    font-size: 1.7rem;
    color: white;
    line-height: 3.5rem;
    transition: .5s;
    margin-left: 24%;
}

.csol a.clinked i {
    font-size: 1.7rem;
    color: white;
    line-height: 3.5rem;
    transition: .5s;
    margin-left: 24%;
}

/* Hover */

.csol a.cphone:hover {
    width: 3.1rem;
    height: 3.1rem;
}

.csol a.cemail:hover {
    width: 3.1rem;
    height: 3.1rem;
}

.csol a.cinsta:hover {
    width: 3.1rem;
    height: 3.1rem;
}

.csol a.cface:hover {
    width: 3.1rem;
    height: 3.1rem;
}

.csol a.clinked:hover {
    width: 3.1rem;
    height: 3.1rem;
}


/* Resposive  */

@media (max-width:600px) {
    .cContact {
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    .ctext {
        font-size: .9rem;
        padding-left: 7%;
    }

    .locat {
        width: 90%;
        height: 500px;
        margin-left: 5%;
        margin-bottom: 2rem
    }

}

@media (min-width: 601px) and (max-width: 768px) {
    .cContact {
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    .ctext {
        font-size: 1.4rem;
    }

    .locat {
        width: 90%;
        height: 500px;
        margin-left: 5%;
        margin-bottom: 2rem
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .cContact {
        width: 76%;
        margin-top: -400px;
        margin-left: 20%;
        margin-bottom: 50px;
    }

    .locat {
        width: 80%;
        height: 500px;
        margin-left: 10%;
        margin-bottom: 5%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .cContact {
        width: 76%;
        margin-top: -450px;
        margin-left: 20%;
        margin-bottom: 5%;
    }

    .locat {
        width: 80%;
        height: 500px;
        margin-left: 10%;
        margin-bottom: 5%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .cContact {
        width: 76%;
        margin-top: -500px;
        margin-left: 20%;
        margin-bottom: 5%;
    }

    .locat {
        width: 80%;
        height: 500px;
        margin-left: 10%;
        margin-bottom: 5%;
    }
}